.main__title{
    padding-top: 80px;
    text-align: center;
}
.main__card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.main__img{
    width: 400px;
    margin-right: 50px;
    border-radius: 10px ;
}
.card__name{
    display: flex;
    margin: 10px;
    align-items: center;
}
.card__name p{
    background-color: #b9e490;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 5px;
}
.card__info{
    margin-left: 10px;
    font-size: 16px;
}